[submodule "vendor/doxygen-awesome-css"]
	path = vendor/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/cpp-bbunit"]
	path = vendor/cpp-bbunit
	url = https://github.com/markhj/cpp-bbunit
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/cpp-hxl-lang"]
	path = vendor/cpp-hxl-lang
	url = https://github.com/markhj/cpp-hxl-lang
